# Project:   mi-gspcr-evs
# Objective: Define What git should ingore
# Author:    Edoardo Costantini
# Created:   2023-07-11
# Modified:  2023-07-11
# Notes: 

# System files
.DS_Store

# History files
.Rhistory
.Rapp.history

# Data files
*.RData
*.soft.gz
*.csv
*.dta
*.txt

# R files (.rds, workspace etc)
*.rds
*.RData
*.Rhistory

# > Project folder -------------------------------------------------------------

# Ignore lisa folder
/lisa/*
!/lisa/.gitkeep

# Ignore output
/output/*
!/output/.gitkeep
!20221202-105949-results.rds

# Ignore input/rlib folder
/input/rlib/*/
/input/stopos-lines

# Ignore pacakges except ones that are approved
*.tar.gz
!gspcr_0.9.2.93.tar.gz
!mice_3.16.0.0009.tar.gz

# > IDEs -----------------------------------------------------------------------

# Ignore .idea folder
/.idea/

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# knitr and R markdown default cache directories
/*_cache/
/cache/

# > Latex and markdown ---------------------------------------------------------

# Auto-save stuff:
*~

# swp files
*.swp

# Latex byproducts
*.aux
*.blg
*.log
*.blg

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# > Misc -----------------------------------------------------------------------

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth